body {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.column {
  float: left;
  width: 49%;
  height: auto;
  align-content: center;
  text-align: center;
}

.one-fifth {
  width: 19%;
}

.two-fifth {
  width: 39%;
}

.nvbr {
    position: fixed;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index:998;
}

.nvpad {
    padding: 3em;
}

/* Style the links inside the navigation bar */
.nvbr a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nvbr a:hover {
  background-color: #E52B50;
  color: white;
}

/* Add a color to the active/current link */
.nvbr a.active {
  background-color: #E52B50;
  color: white;
}

/* A minibar that only appears on small screens */

.mnbr {
    position: fixed;
    top: 3em;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    visibility: hidden;
}

/* Adjust elements to small screens */
@media screen and (max-width:73em) {
  .mnbr {
    visibility: visible;
  }
  .column, .one-fifth, .two-fifth {
    width: 100%;
  }
}

/* Style the links inside the navigation bar */
.mnbr a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.mnbr a:hover {
  background-color: #E52B50;
  color: white;
}

/* Add a color to the active/current link */
.mnbr a.active {
  background-color: #E52B50;
  color: white;
}

h1 {
    color: #E52B50;
    text-align: center;
    margin: 0%;
    margin-bottom: 1em;
}

h2 {
    color: #E52B50;
    text-align: center;
}

h3 {
    color: #E52B50;
    text-align: center;
}

embed {
    width: 35em;
    height: 73vh;
    align-content: center;
}

/* Buttons for discord and matrix and irc */

.button {
  border-color: #E52B50;
  border-radius: 10px;
  background-color: #E52B50;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width:50%;
}

.button:hover {
  background-color: #E52B50;
  color: white;
}
  
